body{
    background: linear-gradient(45deg,black,darkgray);
}
header{
    background-color: black;
    margin-top: 0;
    padding-top: 0;
    text-align: end;
    margin-bottom: 0;
    padding-right: 10px;
    padding-bottom: 25px;
}
ul{
    margin: 0;
    padding-top: 15px;
}
ul a{
    margin: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
ul a:hover{
    color: rgb(162, 204, 209);
}
.but{
    align-items: center;
    justify-content: center;
    display: flex;
    margin:3%;
    gap: 60px;
    border: 5px;
}
.but button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px;
    font-weight: 750;
    background-color: rgb(240, 151, 170);
}
.but button:hover{
    cursor: pointer;
    background-color: crimson;
    cursor: pointer;
    transition: scale(1.1) ease-in-out;
    font-weight: 900;
}
.row1{
    margin-bottom: 10px;
    width: 100%;
    border: 1px;
    display: flex;
    justify-content: space-between; 
}
.row1 img{ 
    width: 23%;
    display: flex;
    flex-direction: column;
}
.row1 img:hover{
    width: 30%;
}
.row2{
    margin-bottom: 10px;
    width: 100%;
    border: 1px;
    display: flex;
    justify-content: space-between; 
}
.row2 img{
    width: 23%;
    display: flex;
    flex-direction: column;
}
.row2 img:hover{
    width: 30%;
}
.row3{
    margin-bottom: 10px;
    width: 100%;
    border: 1px;
    display: flex;
    justify-content: space-between; 
}
.row3 img{
    width: 23%;
    display: flex;
    flex-direction: column;
}
.row3 img:hover{
    width: 30%;
}
.row4{
    margin-bottom: 10px;
    width: 100%;
    border: 1px;
    display: flex;
    justify-content: space-between; 
}
.row4 img{
    width: 23%;
    display: flex;
    flex-direction: column;
}
.row4 img:hover{
    width: 30%;
}
.row5{
    margin-bottom: 10px;
    width: 100%;
    border: 1px;
    display: flex;
    justify-content: space-between; 
}
.row5 img{
    width: 23%;
    display: flex;
    flex-direction: column;
} 
.row img:hover{
    width: 30%;
}